html, body {
     margin: 0;
     padding: 0;
  }
  
  body{
  width: 100%;
  height: 100%; 
  left: 0px; 
  top: 0px;
  }

/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
     box-sizing: border-box;
  }
  *, * ::before, *::after{
     box-sizing: inherit;
  }

  img{
     max-width: 100%;
     height: auto;
  }

  .conteiner{
     max-width: 1060px;
     margin: 0 auto;
     padding: 0 15px;
  }

  .conteiner-full{
     
     max-width: 1262px;
     margin: auto;
     padding: 0 15px;
     
  }

  .section-title{
     font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
position: relative;
padding-bottom: 10px;

  }
  .section-title::after{
     display: block;
     content: " ";
     width: 253px;
     height: 3px;
     background-color: #006DFE;
     position: absolute;
     bottom: 0;
     left: 0;
  }

  .header{
     
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     transition: .2s;
  }

  .header_active{
     background: #0E1D28;
     z-index: 4;
  }

  .conteiner-header{
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
     justify-content: space-between;
     padding-top: 56px;
  }
.header-list{
     display: flex;
     flex-wrap: wrap;
}
 .headr-item{
     margin-right: 82px;
     list-style-type: none;
 }
.headr-item:last-child{
     margin-right: 0;
}
.header-link{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: white;
text-decoration: none;
}
.header-link:hover, .header-link:focus, .header-link:active{
opacity: .75;
}

/* header-burger */

.header-burger{
     width: 40px;
     height: 28px;
     position: relative;
     display: none;
}

.burger-line{
     display: block;
     width: 100%;
     height: 2px;
     background-color: #FFFFFF;
     position: absolute;
     left: 0;
}

.line-1{
     top: 0;
}
.line-2{
top: 50%;
transform: translateY(-50%);
}
.line-3{
     bottom: 2px;
}









/*intro start*/
.intro{
     min-height: 100vh;
     background: url(../img/background-img.png) no-repeat center;
     background-size: cover;
     padding-top: 263px;
     padding-bottom: 223px;
}

.main-title{
     font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 60px;
color: #FFFFFF;
max-width: 619px;
margin-bottom: 22px;
}

.main-text{
     font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
max-width: 546px;
margin-bottom: 59px;
}
.search-form{
     display: flex;
     flex-wrap: wrap;
}

.search-input{
     width: 297px;
  background-color: transparent;
  background: url(../img/oval.png) no-repeat left  6px;   
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;;
  margin-right: 60px;
padding-left: 43px;
padding-bottom: 22px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;

outline:none;
}
.search-input::placeholder{
     font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF
}

.button-search{
     padding: 15px 39px;
     text-transform: uppercase;
     font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
background-color: #1B7DFF;
border: 0;

}

.button-search:hover, button-search:focus, button-search:active{
     background: #255fad;
}
/*intro end*/

/* section2 */

.benefits {
     margin-bottom: 131px;
}
.benefits-conteiner{
     max-width: 1262px;
     background-color: #FFFFFF;
     margin: 0 auto;
     box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
     position: relative;
}

.title-sec2{
     width: 100%;
     font-family: 'Lato';
     font-style: normal;
     font-weight: 500;
     font-size: 35px;
     line-height: 42px;
     padding: 93px 100px 88px 100px;
     position: absolute;
     top: 0;
     left: 0;
     transform: translateY(-100%);
     background-color: #FFFFFF;
}

.benefits-cards{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     background-color: #FFFFFF;
     padding: 0 100px;
     

}
.benefits-card{
     grid-column: span 1;
     margin-bottom: 112px;
}

.icon-img{
     display: block;
     max-width: 66px;    
     margin-bottom: 37px;
     padding: 0;
}

.card-title{
     margin-bottom: 26px;

     font-family: 'Lato';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 24px;
     color: #000000
}

.text-card{
     max-width: 317px;
     margin-bottom: 39px;

     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #000000;
}

.link-more{
     display: inline-block;
     padding-right: 59px;
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #006DFE;
     text-decoration: none;

     background: url(../img/arrow.png) no-repeat 95% center;
     transition: .2s all;
}

.link-more:hover, .link-more:focus{
     background: url(../img/arrow.png) no-repeat right center;   
}

/* section3 */

.next-trip{
   margin-bottom: 131px;  
}

.title-sec3{
margin-right: 15px;

}

.common{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 36px;
}

.link-show{
     font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #006DFE;
text-decoration: none;

padding-right: 59px;
background: url(../img/arrow.png) no-repeat 100% center;
transition: .2s all;
}

.link-show:hover, .link-show:focus{
     opacity: .65;
}

.sek3-cards{
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-gap: 10px;
}

.sek3-card{
     position: relative;
     overflow: hidden;

}

.sek3-card::after{
     display: block;
     content: '';
     width: 100%;
     height: 99%;
     background-color: rgba(21, 24, 36, 0.4);
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
}

.sek3-card:hover, .card-fuji:hover{
     transform: scale(1.05);
     transition: 1s;
}

.sek3-card-lg{
     grid-column: span 3;
     margin: 0;
}

.sec3-cad-title{
     font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 60px;
color: #FFFFFF;

position: absolute;
bottom: 27px;
left: 29px;
z-index: 3;
}


.card-fuji{
     width: 100%;
     
     transition: .15s all;
     transition: 2s;
}

.card-fuji-lg{
     height: 354px;
     width: 100%;
     object-fit: cover;
}

.sec3-card-link{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 4;
}

.sek3-card-sm{
     grid-column: span 2;
     margin: 0;
}

.card-fuji-sm{
     height: 283px;
     object-fit: cover;
}


/* section 4 */


.sek4{
     margin-bottom: 139px;
}

.sek4-1{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 0 108px;
     align-items: center;
     margin-bottom: 77px;
}

.sek4-info{
padding-left: 47px;
}

.sek4-title{
     font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 40px;
margin-bottom: 85px;
}

.sek4-text{
     font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

margin-bottom: 58px;
}

.sek4-link{
     font-size: 16px;
line-height: 24px;
color: #006DFE;
text-decoration: none;

padding-right: 59px;
background: url(../img/arrow.png) no-repeat 100% center;

transition: .2s all;
}

.sek4-link:hover, .sek4-link:focus{
     opacity: .65;
}



/* section 5 */


.sec5{
     margin-bottom: 86px;
}

.sec5-title{
     margin-bottom: 54px;
}
.sec5-card{
     display: flex;
     flex-direction: column;
     grid-column: span 2;
}

.sec5-card-img{
position: relative;
margin-bottom: 45px;

}

.sec5-card-info{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-end;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background:  rgba(21, 24, 36, 0.6);
padding: 16px 25px;
}

.sec5-card-info-title{
     font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;



color: #FFFFFF;

margin: 0 auto 0 0;
}

.sec5-cards{
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-gap: 57px;
}

.sec5-card-heart{
     font-family: 'Lato';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 24px;
     color: #FFFFFF;

     padding-right: 20px;
     background: url(../img/sec5-heart.png) no-repeat right;
     margin-right: 14px;
     } 

     .sec5-card-comments{
          font-family: 'Lato';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
   
          color: #FFFFFF;
          padding-right: 23px;
     background: url(../img/sec5-comment.png) no-repeat right;
     }

     .sec5-card-text{
          margin-top: 45px;
          font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #102746;
margin-bottom: 31px;
     }

.sec5-link-botton{
     padding: 12px 19px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    color: #FFFFFF;
    background-color: #1B7DFF;
    border: 0;

    text-decoration: none;
    width:  118px;
    margin: auto 0 0 0;
}
.sec5-link-botton:hover, .sec5-link-botton:focus, .sec5-link-botton:active{
     background: #255fad;
}



/* Video */

.video{
     width: 100%;
}

.conteiner-video{
     max-width: 1440px;
     margin: 0 auto;
     position: relative;
}

.video-item{
     padding-top: 56.25%;
}

.main-video{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}



/* footer */

.footer{
     background: #0E1D28;
     padding: 119px 0;
}

.footer-item{
     display: flex;
     flex-wrap: wrap;
}

.footer-logo{
     width: 50%;
}

.footer-nav{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 50%;
     
}

.footer-menu{
     list-style-type: none;
     margin: 0;
}

.footer-menu-title{
     font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


color: #FFFFFF;
list-style-type: none;
margin: 0;
}

.footer-menu-link{
     font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

text-decoration: none;

}

.footer-menu-link:hover, .footer-menu-link:focus, .footer-menu-link:active{
     opacity: .5; 
     
}



/* media */



@media screen  and (max-width: 767px){
     .header-burger{
          display: block;
          padding-right: 10px;
     }

     .header-nav{
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background-color: #000000;
          z-index: 10;
          padding: 75px;
          transform: translateX(100%);
     }
     .header-nav-active{
          transform: translateX(0);
          transition: .2s linear;
     }

     .headr-item{
          width: 100%;
          margin-right: 0;

          margin-bottom: 30px;

     }
     .headr-item:last-child{
          margin-bottom: 0;
     }

     .header-link{
          font-size: 42px;
          line-height: 48px;
     }

     .heder-burger-close{
          width: 40px;
          height: 40px;
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 11;
          
     }


     .line-close{
          display: block;
          width: 100%;
          height: 2px;

          
          position: absolute;

          top: 50%;
          background-color: #FFFFFF;
     }
     .line.close:first-child{
          transform: translateY(-50%) rotate(45deg);
     }
     .line.close:last-child{
          transform: translateY(-50%) rotate(-45deg);
     }

     .benefits-card{
          grid-column: span 3;

     }
     .search-input{
width: 100%;
margin-right: 0;
     }
     .intro{
          padding-top: 150px;
     }
     .main-title{
          font-size: 32px;
          line-height: 48px;
     }
     .main-text{
          font-size: 14px;
          margin-bottom: 30px;
     }
     .conteiner-header{
padding-top: 25px;
padding-bottom: 5px;
     }
     .header-nav-active{
          padding-left: 40px;
     }
     .search-input{
          background: url(../img/oval.png) no-repeat left 2px;
          padding-bottom: 10px;
     }
     .search-input::placeholder{
          font-size: 16px;
     }
     .button-search{
          width: 100%;
     }
     .title-sec2{
          padding: 25px 10px;
     }
     .icon-img{
          margin-bottom: 20px;
     }
     .card-title{
          margin-bottom: 12px;
     }
     .text-card{
          margin-bottom: 20px;
     }
     .benefits{
          margin-bottom: 0;
     }
     .benefits-card{
margin-bottom: 0;
     }
     .section-title::after{
width: 100px;
height: 2px;
     }
     .section-title{
          font-size: 25px;
          line-height: 30px;
     }
     .sec3-cad-title{
          font-size: 30px;
     }
     .sek3-card-lg{
          height: 230px;
     }
     .sek4-img, .sek4-info{
grid-column: span 2;
     }
     .sek4-1 {
          margin-bottom: 35px;
     }
     .sek4-img-mob{
         grid-row-start: -1; 
     }
     .sec5-title{
          margin-bottom: 34px;
     }
     .sec5-card{
          grid-column: span 6;
     }
     .sec5{
          margin-bottom: 40px;
     }
     .footer-logo{
          width: 100%;
          margin-bottom: 15px;
     }

     .footer-nav{
          width: 100%;
     }
     .footer-menu{
          padding-left: 0;
     }
     .footer-menu-title{
          font-size: 16px;
     }
     .footer-menu-link{
          font-size: 14px;
     }
     .line-close-1{
          transform: translateY(-50%) rotate(45deg);
          display: block;
         width: 100%;
         height: 2px;
         background-color: #FFFFFF;
         position: absolute;
         top: 50%;
     }
     .line-close-2{
          transform: translateY(-50%) rotate(-45deg);
          display: block;
         width: 100%;
         height: 2px;
         background-color: #FFFFFF;
         position: absolute;
         top: 50%;
     }
     .sec5-card-info{
          max-width: 386px;
     }
}

@media screen and (max-width: 960px) {
     .next-trip{
          margin-bottom: 70px;
     }
     .benefits{
          margin-bottom: 75px;
     }
     .benefits-card{
          margin-bottom: 45px;
     }

     .search-input{
          margin-bottom: 25px; 
     }

     .benefits-cards{
          padding: 0 15px;
          grid-column:  35px;
     }

     .title-sec2{
      padding: 55px 15px;
     }

     .sek3-card-lg{
          grid-column: span 6;
     }
     .sek3-card-sm{
          grid-column: span 6;  
     }

     .sek4{
          margin-bottom: 70px;
     }

     .sek4-1{
          grid-column-gap: 35px;
     } 
     .sek4-info{
          padding-left: 0;
     }
     .sek4-title{
          margin: 0;
          font-size: 25px;
     }
     .sek4-text{
          margin-bottom: 15px;
     }
     .sec5-cards{
          grid-column-gap: 25px;
          grid-row-gap: 45px;
     }
     .sec5-title{
          font-size: 30px;
     }
     .sec5-card-img{
          margin: 0;
     }

     .sec5-card-text{
          margin: 15px 0 10px 0;
     }
     .sec5-card{
          grid-column: span 3;
     }
    .footer{
     padding: 60px 0 60px 0;
    }
    .footer-logo{
     width: 40%;
    }
    .footer-menu{
     padding-left: 20px;
    }
    .footer-nav{
     width: 60%;
    }
}



@media screen and (max-width: 767px) {
     
} 
     
